################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Reports_IICs/bin/Debug
/Reports_IICs/obj/Debug
