<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Reports_IICs.Properties.Settings.ReportsIICS_Reports" connectionString="Data Source=172.16.2.2;Initial Catalog=Reports_IICS;User ID=PRE;Password=barcelona" providerName="System.Data.SqlClient" />
    <add name="Reports_IICSEntities" connectionString="metadata=res://*/DataModels.ReportsIICSEntityDataModel.csdl|res://*/DataModels.ReportsIICSEntityDataModel.ssdl|res://*/DataModels.ReportsIICSEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.2.2;initial catalog=Reports_IICS;user id=PRE;password=barcelona;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.930.45" newVersion="2015.3.930.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>